/* src/styles/main.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #c8102e; /* LFC Red */
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 10px 20px;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #c8102e;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #eee;
}

.mode-selector {
  margin-top: 2rem;
}

.mode-button {
  background-color: #910c1b;
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.mode-button:hover {
  background-color: #a10f1f;
}

.mode-button.active {
  background-color: white;
  color: #c8102e;
}

.typing-box {
  margin-top: 2rem;
}

.display-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  text-align: left;
}

.typing-input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.timer-display {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.results-box {
  margin-top: 2rem;
  background-color: white;
  color: #c8102e;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}